<!DOCTYPE html>
<html>
  <head>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <meta name="description" content="Join private club and chit chat">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/icon.png">
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1 class="bg-red-200"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('footer'); -%>
  </body>
</html>
